.seccion {
    padding: 20px;
    border: 2px solid red;
    margin: 0 20px 20px 20px;
}
h3 {
    color: #008019 !important;
    margin: 0 0 1.5rem 0;
    text-align: center;
}
.subtitular {
    color: rgb(0 112 192);
}
.imagen img {
    max-width: 940px !important;  
    width: 100%; 
    max-height: 580px !important;
    height: 100%;  
    margin-bottom: 15px;    
}

/* Estilo para el menú activo */
.active-menu {
    background-color: #cc0000 !important;
}

.active-menu .nav-link {
    color: white !important;
    font-weight: bold;
}

.active-menu .dropdown-toggle {
    color: white !important;
}